/*Styling file*/
/*Body*/
body {
    margin: 0;
    padding: 0;
    background-color: #1c2333;
    font-family: verdana;
    color: #ffffff;
    text-align: center;
}
/*First Header*/
h1 {
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 25px;
}
/*Second Header*/
h2 {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 25px;
}
/*Third Header*/
h3 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 25px;
}
/*Small footer*/
h6 {
    font-weight: 700;
    font-size: 15px;
}
/*Button*/
.button {
    display: inline-block;
    padding: 10px 50px;
    background-color: #0e1525;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    border-style: solid;
    border-color: #2b3245;
    margin: 10px;
    transition: background-color 0.3s ease;
    outline: none;
}
/*Button when hovered*/
.button:hover {
        color: #ffffff;
    background-color: #1c2333;
}
/*Embedded*/
.embedded {
    width: 100%;
    height: 500px;
}
/*Footer*/
footer {
    margin-top: 600px;
    padding-bottom: 5px;
}